dist
node_modules
.next
out
build
.DS_Store
packages/app/node_modules
packages/app/dist
packages/app/out
*/*/node_modules
*/*/dist
*/*/out
*/node_modules/
.agent
.agents
.claude
.cline
.gemini
.kilocode
packages/app/android/.gradle